/* base html */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Noto+Serif+Display:wght@900&family=Oswald&family=Roboto+Mono&display=swap');

body {
  height: 100%;
  background-color: lightgray;
}
/* header */
.header {
  width: 100%;
  height: 100px;
  display: block;
  background-color: rgba(13, 13, 13, 0.7);
  position: fixed;
  left: 0;
  top: 0;
}
.inner-header {
  width: 1000px;
  height: 100%;
  display: block;
  position: absolute;
}
.inner-header-text a {
  display: flex;
  position: absolute;
  top: -20px;
  left: 25px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Serif Display', serif;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
}
.inner-header-text a:hover {
  color: dimgrey;
}

/* login and register buttons */
.header .login-buttons {
  display: flex;
  position: absolute;
  top: 40px;
  right: 0;
}
.login-buttons a {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-align: center;
}
.login-buttons a button {
  width: 160px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  background-color: transparent;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid transparent;
  transition: 1s;
}
.login-buttons a button:hover {
  background-color: whitesmoke;
  color: black;
}
/* navbar menu */
.navbar {
  display: table;
  height: auto;
  width: auto;
  position: absolute;
  left: 30%;
  top: 50px;
  background: transparent;
  overflow-x: hidden;
  padding-bottom: 1px;
  text-align: left;
}

.navbar a {
  height: 30px;
  width: auto;
  margin-right: 3px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  display: inline-block;
  background-color: transparent;
  transition: 1s;
}
.navbar a:hover {
  background-color: whitesmoke;
  color: black;
}
/* main content */
.container {
  position: relative;
  overflow: hidden;
  width: 1250px;
  height: 650px;
  top: 80px;
  margin: 80px;
  padding-top: 5px;
  border-radius: 5px 5px;
  background: rgba(13, 13, 13, 0.3);
}
.container .box {
  position: absolute;
  width: 1100px;
  height: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  padding: 5px 35px 5px 35px;
  margin: 30px;
  background: transparent;
}
.box h3 {
  text-align: center;
}
/* homepage */
.welcome-text {
  text-align: center;
}
/* registration and login page */
.reg-title {
  text-transform: uppercase;
  font-weight: bold;
}
.form-box {
  position: absolute;
  height: 650px;
  width: 380px;
  background: rgba(13, 13, 13, 0.4);
  border-radius: 5px 5px;
  padding-left: 15px;
  padding-top: 2px;
  left: 35%;
  font-family: 'Montserrat', sans-serif;
}
.profile-description {
  line-height: 30px;
}
.form-box input {
  width: 250px;
  height: 16px;
  margin-right: 80px;
  margin-left: 50px;
  border-radius: 5px 5px;
}
.form-box label {
  margin-right: 80px;
  margin-left: 50px;
}

.form-box input:hover {
  border: 2px solid dimgrey;
  background: lightgrey;
}

.form-box .reg-button {
  width: 200px;
  height: auto;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  background-color: dimgrey;
  color: whitesmoke;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  border-radius: 10px;
  border: 3px solid dimgrey;
  margin-left: 80px;
}
.form-box .reg-button:hover {
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  color: black;
}
.form-box p select {
  margin-right: 80px;
  margin-left: 50px;
  width: 250px;
  height: 25px;
  border-radius: 5px 5px;
  font-size: 16px;
  -webkit-appearance: none;
  background-image: url("/static/images/arrow.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: calc(100% - 3px) center;
  padding: 2px;
}
/* find race form-box */
.form-box-find-race {
  position: absolute;
  height: 580px;
  width: 380px;
  background: rgba(13, 13, 13, 0.4);
  border-radius: 5px 5px;
  padding-left: 15px;
  padding-top: 2px;
  left: 35%;
  font-family: 'Montserrat', sans-serif;
}
.form-box-find-race input {
  width: 250px;
  height: 18px;
  margin-right: 120px;
  border-radius: 5px 5px;
}
.form-box-find-race input:hover {
  border: 2px solid dimgrey;
  background: lightgrey;
}
.form-box-find-race .reg-button {
  width: 200px;
  height: auto;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  background-color: dimgrey;
  color: whitesmoke;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  border-radius: 10px;
  border: 3px solid dimgrey;
  margin-left: 80px;
}
.form-box-find-race .reg-button:hover {
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  color: black;
}
.form-box-find-race p select {
  margin-right: 80px;
  margin-left: 50px;
  width: 250px;
  height: 25px;
  border-radius: 5px 5px;
  font-size: 16px;
  -webkit-appearance: none;
  background-image: url("/static/images/arrow.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: calc(100% - 3px) center;
  padding: 2px;
}
.form-box-find-race input {
  margin-right: 80px;
  margin-left: 50px;
}
.form-box-find-race label {
  margin-right: 80px;
  margin-left: 50px;
}

/* races list page */
.races-list ul {
  list-style: none;
}
.races-list ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.races-list ul li a:hover {
  color: lightgray;
}
.all-races {
  position: center;
}
.all-races a {
  width: 200px;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  background-color: dimgrey;
  color: whitesmoke;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  border-radius: 10px;
  border: 3px solid dimgrey;
  text-decoration: none;
}
.all-races a:hover {
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  color: black;
}
/* my races list */
.my-races-box table {
  background: rgba(13, 13, 13, 0.4);
  padding: 10px;
  height: auto;
}
.my-races-box .two a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: dimgrey;
  font-size: 15px;
  padding: 3px 5px 3px 5px;
}
.my-races-box .two a:hover {
  color: black;
  border-color: black;
  background: whitesmoke;
}
.my-races-box .one a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.my-races-box .one a:hover {
  color: lightgray;
}
/* my results page */
.my-results-box table {
  background: rgba(13, 13, 13, 0.4);
  padding: 5px;
  text-align: center;
  width: 100%;
}

.my-results-box table td {
  background: rgba(64, 64, 64, 0.4);
  padding: 2px;
}
.delete-button {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: dimgrey;
  font-size: 15px;
  padding: 3px 5px 3px 5px;
}
.delete-button:hover {
  color: black;
  border-color: black;
  background: whitesmoke;
}
/* details page */
.details-page h2 {
  text-align: center;
}
.details-page a {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background: dimgray;
  padding: 2px 10px 2px 10px;
}
.details-page a:hover {
  color: black;
  border-color: black;
  background: whitesmoke;
}
.box-container {
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  margin-top: 5px;
}
.enrolled-box {
  width: 47%;
  height: auto;
  text-align: center;
  background: rgba(13, 13, 13, 0.5);
  margin-right: 3%;
  opacity: revert;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}
.enrolled-box ul {
  list-style: none;
  text-align: left;
}
.rating-box {
  width: 47%;
  text-align: center;
  background: rgba(13, 13, 13, 0.5);
  margin-left: 3%;
  height: auto;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}
.rating {
  text-align: left;
  margin: 10px;
}
.comment-box input {
  width: 70%;
  background: whitesmoke;
  height: 100px;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid whitesmoke;
}
/* race details page */
.enroll-button {
  width: 150px;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  background: lightgray;
  border: 3px solid whitesmoke;
  border-radius: 5px;
}
.search-form-box a {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background: dimgray;
  padding: 2px 10px 2px 10px;
}
.search-form-box a:hover {
  color: black;
  border-color: black;
  background: whitesmoke;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }
    .inner-header {
        flex-wrap: wrap;
    }
    .inner-header-text {
        flex-basis: 100%;
        margin-top: 10px;
    }
}