{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
<div class="form-box">
    <h3>Twój profil</h3>
    <p class="profile-description">Imię: {{ user.athlete.first_name }}<br>
    Nazwisko: {{ user.athlete.last_name }}<br>
    Login: {{ user.username }}<br>
    Email: {{ user.email }}<br>
    Status: {{ user.athlete.proficiency }}<br>
    Grupa wiekowa: {{ user.athlete.age_group }}</p>
    {% endif %}

    {% if not user.is_authenticated %}
    <h3> Musisz się zalogować</h3>
    {% endif %}
</div>
{% endblock %}