{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="details-page">
    <h2>{{ race.name }}</h2>
    <h3> {{ race.date }}</h3>
    <p> {{ race.description}}</p>
    <p> Zapisy -> <a href='{{ race.race_url }}'>tutaj</a></p>
    {% if user.is_authenticated %}
    <h3>
        <form action="#" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Biorę udział!" class="enroll-button">
        </form>
    </h3>
    <br>
    <div class="box-container">
        <div class="enrolled-box">W tych zawodach startują:</div>
        <form class="rating-box" method="post">Zostaw opinię:
            <select>
                <option value="1">słabo</option>
                <option value="2">tak sobie</option>
                <option value="3">OK</option>
                <option value="4">fajnie</option>
                <option value="5">rewelacja!</option>
            </select>
            <div class="comment-box">
                <input type="textarea" value="Napisz coś...">
            </div>
            <input type="submit" value="Wyślij!">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
