{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="details-page">
    <h2>{{ race.name }}</h2>
    <h3> {{ race.date }}</h3>
    <p> {{ race.description}}</p>
    <p> Zapisy -> <a href='{{ race.race_url }}'>tutaj</a></p>
    {% if user.is_authenticated %}
    <h3>
      <a href="/race/add/{{ race.id }}/">Biorę udział!</a>
    </h3>
    <div class="box-container">
        <div class="enrolled-box">W tych zawodach startują:</div>
        <div class="rating-box">Zostaw opinię:
            <form action="#" method="get">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Wyślij" class="reg-button">
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
