/* base html */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Noto+Serif+Display:wght@900&family=Oswald&family=Roboto+Mono&display=swap');
body {
  background-color: lightgray;
}
/* header */
.header {
  width: 100%;
  height: 100px;
  display: block;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  left: 0;
  top: 0;
}
.inner-header {
  width: 800px;
  height: 100%;
  display: block;
  position: absolute;
}
.inner-header-text a {
  display: flex;
  position: absolute;
  top: -20px;
  left: 25px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Serif Display', serif;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
}
.inner-header-text a:hover {
  color: dimgrey;
}

/* login and register buttons */
.header .login-buttons {
  display: flex;
  position: absolute;
  top: 40px;
  right: 0;
}
.login-buttons a {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-align: center;
}
.login-buttons a button {
  width: 160px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  background-color: black;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid transparent;
  transition: 1s;
}
.login-buttons a button:hover {
  background-color: whitesmoke;
  color: black;
}
/* navbar menu */
.navbar {
  display: table;
  height: auto;
  width: auto;
  position: absolute;
  left: 30%;
  top: 50px;
  background: transparent;
  overflow-x: hidden;
  padding-bottom: 1px;
  text-align: left;
}

.navbar a {
  height: 30px;
  width: auto;
  margin-right: 3px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  display: inline-block;
  background-color: black;
  transition: 1s;
}
.navbar a:hover {
  background-color: whitesmoke;
  color: black;
}
/* main content */
.container {
  position: relative;
  overflow: hidden;
  width: 1100px;
  height: 550px;
  top: 60px;
  margin-top: 50px;
  margin-left: 110px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 5px 5px;
}
.container .box {
  position: absolute;
  width: 1040px;
  height: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  padding: 15px;
  margin: 15px;
}
.box h3 {
  text-align: center;
}
/* homepage */
.welcome-text {
  text-align: center;
}
/* registration and login page */
.reg-title {
  text-transform: uppercase;
  font-weight: bold;
}
.form-box {
  position: absolute;
  height: 560px;
  width: 380px;
  background: transparent;
  border: 3px solid dimgray;
  border-radius: 5px 5px;
  padding-left: 15px;
  padding-top: 2px;
  left: 35%;
  font-family: 'Montserrat', sans-serif;
}
.form-box input {
  width: 340px;
  height: 18px;
  border-radius: 5px 5px;
}
.form-box input:hover {
  border: 2px solid dimgrey;
  background: lightgrey;
}

.form-box .reg-button {
  width: 200px;
  height: auto;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  background-color: dimgrey;
  color: whitesmoke;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  border-radius: 10px;
  border: 3px solid dimgrey;
  margin-left: 80px;
}
.form-box .reg-button:hover {
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  color: black;
}

/* races list page */
.races-list ul{
  list-style: none;
}
.races-list ul li a{
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.races-list ul li a:hover {
  color: lightgray;
}
.details-page h2 {
  text-align: center;
}
.details-page a {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}
.details-page a:hover {
  color: lightgray;
}